@import "tailwindcss";

@theme {
  --font-sans: "Better Together", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white;
}

@layer utilities {
  .container {
    @apply mx-auto;
  }
}

@font-face {
  font-family: 'Better Together';
  src: url('./assets/fonts/better-together/BetterTogether-Regular.woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Better Together';
  src: url('./assets/fonts/better-together/BetterTogether-Medium.woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Better Together';
  src: url('./assets/fonts/better-together/BetterTogether-Bold.woff2');
  font-weight: 600;
  font-display: swap;
}

.cGradientHor {
    background: linear-gradient(270deg, #00afff -6.25%, #4d55c2 5.14%, #970088 22.36%, #b50b64 38.37%, #cc1448 52.19%, #dd1a34 66%, #e71e28 80.87%, #eb2024 94.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
