@import "tailwindcss";

@theme {
  --font-sans: "Better Together", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white;
}

@layer utilities {
  .container {
    @apply mx-auto;
  }
}

@font-face {
  font-family: 'Better Together';
  src: url('./assets/fonts/better-together/BetterTogether-Regular.woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Better Together';
  src: url('./assets/fonts/better-together/BetterTogether-Medium.woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Better Together';
  src: url('./assets/fonts/better-together/BetterTogether-Bold.woff2');
  font-weight: 600;
  font-display: swap;
}
